.container {
  transition: all 0.3s ease;
}

.copy-btn {
  transition: background-color 0.2s ease;
}

select {
  height: 34px;
  padding: 0;
  padding-left: 5px;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}

@media (max-width: 640px) {

  input[type="text"],
  input[type="number"],
  select,
  textarea {
    font-size: 16px !important;
  }
  select {
  height: 36px;
}
}